<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Query Form Tutorial</title>
	</head>
	<body>
		<div class="login-form">
			<h1>Query Form</h1>
			<p>Success</p>
		</div>
	</body>
</html>